@using System.Xml
@model Dashboard.ViewModels.TableChartConfig
<div style="padding-bottom: 20px;">
    <div class="trend-table-holder">
        @{
            var writer = XmlWriter.Create(Html.ViewContext.Writer);
            Model.Table.Render(writer);
            writer.Flush();
        }
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('table#interactiveTrendChart').width('@Model.TableWidth');
    });
</script>
