@using System.Xml
@model Dashboard.ViewModels.TableChartConfig
<div class="trend-table-holder">
    @{
        var writer = XmlWriter.Create(Html.ViewContext.Writer);
        Model.Table.Render(writer);
        writer.Flush();
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var tableWidth = '@Model.TableWidth' + "px";
        $("table.trend-table").css('width',tableWidth);
    });
</script>
