@using System.Xml
@model Dashboard.ViewModels.TableChartConfig
<div style="padding-bottom: 20px;">
    <div id="TrendChart">
        @Html.Raw(@Model.Chart.Chart)
    </div>
</div>

<div class="trend-table-holder">
    @{
        var writer = XmlWriter.Create(Html.ViewContext.Writer);
        Model.Table.Render(writer);
        writer.Flush();
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        //if ($(window).width() < 1025) {
        //    var tables = $('#navigation-layout').find('table');
        //    $.each(tables, function (index, table) {
        //        if (!$(table).hasClass('table')) {
        //            $(table).addClass('table');
        //        }
        //        if (!$(table).parent().hasClass('table-responsive')) {
        //            $(table).parent().addClass('table-responsive');
        //        }
        //    });
        //}
    });
</script>

