<div class="row body-row">
    <div class="col-md-12">
        <div id="widget-WidgetWelcomeTextnImage-view">
            <!-- this div is for WidgetWelcomeTextnImage -->
        </div>
        
    </div>
    <div class="col-md-12">
        <div id="widget-HomeTrendChart-view">
        </div>
    </div>


    <div class="col-md-6">
        <div id="widget-Top10CompanyTables-view" class="border-black" style="width: 100%; margin-right: 1%">
            <!-- this div is for CategoryVsRbMarketShare -->
        </div>
    </div>

    <div class="col-md-6">
        <div id="widget-Top10IntPrdTable-view" class="border-black" style="width: 100%;margin-right:1%">
            <!-- this div is for CategoryVsRbMarketShare -->
        </div>
    </div>
</div>

