<div class="row body-row">
    <div class="col-md-12">
        <div id="widget-WidgetWelcomeTextnImage-view">
            <!-- this div is for WidgetWelcomeTextnImage -->
        </div>
        
    </div>
    <div class="col-md-12">
        <div id="widget-HomeTrendChart-view">
        </div>
    </div>
</div>

