<div class="row body-row">
    <div class="table-responsive">
        <table class="table table-hover contact-us">
            <thead>
                <tr>
                    <th colspan="4">IMS Contacts</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>KAM</td>
                    <td>Valerie</td>
                    <td>Harrison</td>
                    <td><a href="mailto:vharrison@uk.imshealth.com">vharrison@uk.imshealth.com</a></td>
                </tr>
                <tr>
                    <td>Project Manager</td>
                    <td>Enrico</td>
                    <td>Lampis</td>
                    <td><a href="mailto:elampis@uk.imshealth.com">elampis@uk.imshealth.com</a></td>
                </tr>
                <tr>
                    <td>Client Service</td>
                    <td>Scott</td>
                    <td>Webb</td>
                    <td><a href="mailto:swebb@uk.imshealth.com">swebb@uk.imshealth.com</a></td>
                </tr>
                <tr>
                    <td>Project Support</td>
                    <td>Khaled</td>
                    <td>Uddin</td>
                    <td><a href="mailto:kuddin@uk.imshealth.com">kuddin@uk.imshealth.com</a></td>
                </tr>
                <tr>
                    <td>Sales</td>
                    <td>Ranjit</td>
                    <td>Ravindranathan</td>
                    <td><a href="mailto:Rravindranathan@uk.imshealth.com">Rravindranathan@uk.imshealth.com</a></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">For all general enquiries, issues or feedback, please contact: <a href="mailto:RBPo1Dashboard@uk.imshealth.com">RBPo1Dashboard@uk.imshealth.com</a></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
