<div id="welcome-widget" class="welcome-widget-text">
    <div style="width:99%;color: grey"><h4>Welcome to Reckitt Benckiser Power of 1 Dashboard</h4></div>
    <div style="width:99%">The Power of 1 Dashboard is a single point of access to a wealth of consumer health care information providing you with the right information, at the right time. Use the navigation left and select from right to determine which views will best represent the data you need to support your workflow</div>
    <div id="brand-logo-holder">
        <div class="image-holder"><img src="~/Content/Images/1.jpg" alt="Nurofen"/></div>
        <div class="image-holder"><img src="~/Content/Images/2.jpg" alt="Gaviscon"/></div>
        <div class="image-holder"><img src="~/Content/Images/3.jpg" alt="Strepsils"/></div>
        <div class="image-holder"><img src="~/Content/Images/4.jpg" alt="Scholl"/></div>
        <div class="image-holder"><img src="~/Content/Images/5.jpg" alt="Durex"/></div>
    </div>
</div>