.welcome-widget-text
{
    width: 100%;
    padding: 3px 7px 3px 7px;
    border-bottom: 2px solid #40E0D0;
    border-top: 2px solid #40E0D0;
    background-color: white;
}

.category-vs-sales-trend
{
    width: 100%;
    padding: 3px 7px 3px 7px;
    background-color: white;
    margin: 10px 0 10px 0;
}

.home-table-chart-title
{
    background-color: #2C3F50;
    color: white;
    width: 100%;
    height: 30px;
    text-align: left;
    padding: 6px 3px 3px 10px;
}

.border-black
{
    border: 1px solid #2C3F50;
}

#top10CompaniesTable
{
    font-size: 12px;
}

    #top10CompaniesTable table
    {
        width: 100%;
    }

    #top10CompaniesTable tr
    {
        height: 24px;
    }

    #top10CompaniesTable table thead tr
    {
        background-color: #EEEEEE;
    }

    #top10CompaniesTable thead th
    {
        color: #666666;
        font-size: 13px;
        font-weight: bold;
        padding-top: 8px;
        padding-bottom: 8px;
    }

div.homeBottomChartFooter
{
    background-color: #EEEEEE;
    color: #666666;
    font-size: 13px;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
}

#top10CompaniesTable th:first-child
{
    padding-left: 15px;
}

#top10CompaniesTable tr td:first-child
{
    padding-left: 4px;
}

#footer
{
    margin-top: 20px;
    font-size: 10px;
    padding-left: 8px;
}

.table-row-reckitt-benckiser
{
    background-color: #00958f;
    color: #fff;
}

#brand-logo-holder
{
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.image-holder
{
    width: 20%;
    float: left;
}

    .image-holder img
    {
        height: 100%;
        width: 100%;
    }

.homeBottomChartFooter
{
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    font-size: 10px;
    font-weight: normal;
    background-color: #fff;
    border-top: 1px solid #000;
    color: #000;
    width: 99%;
}
