div.trend-table-holder
{
    overflow-x: auto;
}

table.trend-table
{
    font-size: 13px;
    padding: 3px;
    border-top: 2px solid #1bbc9b
}
.table-responsive table.trend-table td {
    padding-top: 2px;
    padding-bottom: 2px;
}

table.trend-table td {
    padding-top: 2px;
    padding-bottom: 2px;
}
    table.trend-table th
    {
        text-align: center;
        color: white;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    table.trend-table td.colData
    {
        text-align: right;
    }
    table.trend-table td.trend-rank,table.trend-table td.trend-company
    {
        text-align: left;
    }

    table.trend-table thead tr
    {
        font-weight: bold;
        background-color: #008080;
        color: white;
    }

    table.trend-table th.trend-checkbox, table.trend-table td.trend-checkbox
    {
        padding-left: 3px;
        padding-right: 3px;
        width: 20px;
    }

    table.trend-table th.trend-rank, table.trend-table td.trend-rank
    {
        width: 35px;
    }

    table.trend-table th.trend-company, table.trend-table td.trend-company
    {
        padding-left: 3px;
        border-right: 1px dotted #18C5B1;
        width: 250px !important;
    }
    
    table.trend-table th.colData, td.colData
    {
        padding-right: 3px;
        border-right: 1px dotted #18C5B1;
        width: 95px !important;
    }

    table.trend-table td.trend-rank div
    {
        float: left;
        width: 10px;
    }
    span.rank-div
    {
        margin-left: 2px;
        text-align: right;
        display: inline-block;
    }
span.color-div
{
    height: 10px;
    width: 10px;
    margin-top: 5px;
    margin-left: 4px;
    display: inline-block;
}
.radiofilter
    {
        width: 150px;
        padding-left: 10px;
        padding-bottom: 8px;
        margin-top: 10px;
        font-weight: bold;
    }
    div#filter-RecordCount-layout div {
        width: 200px;
    }

    div#filter-MeasureType-control.radiofilter div.drop-down-text
    {
        display: inline;
        padding-right: 3px;
    }
   div#filter-MeasureType-control.radiofilter input[type="radio"] {
       vertical-align:text-bottom;
   }

   tr.highlight-row-total {
       background-color: #D8E4BC !important;
   }
table.LargeNameColTable td.trend-company {
    width: 160px !important;
}

div.trend-table-holder table.table.LargeNameColTable {
    width: 1300px;
}