@model Dashboard.DashboardComponent.Models.FilterItem
<label>@Model.Label</label>

<div class="filter-layout" id="@Model.ControlId" title="@Model.Label" filter-name="@Model.Name">
    <p>Date: <input type="text" id="datepicker"></p>
</div>