#companies-all-locations-Table
{
    width: 100%;
    font-size: 13px;
}

    #companies-all-locations-Table.table-responsive table td,
    .table-responsive .cat-all-category-by-loc td
    {
        padding: 0;
    }

table.cat-all-category-by-loc
{
    font-size: 13px;
}

    table.cat-all-category-by-loc thead tr
    {
        height: 40px;
        font-weight: bold;
        color: #666666;
    }

#companies-all-locations-Table table
{
    width: 100%;
    padding: 5px;
}

#companies-all-locations-Table table th, #companies-all-locations-Table table td {
    border-right: 1px dotted #9d5c7d;
}

#companies-all-locations-Table table tr th:last-child, #companies-all-locations-Table table tr td:last-child {
    border-right: none;
}

    #companies-all-locations-Table table th:first-letter
    {
        padding-left: 5px;
    }

    #companies-all-locations-Table table td:first-letter
    {
        padding-left: 5px;
    }

    #companies-all-locations-Table table thead tr
    {
        height: 40px;
        font-weight: bold;
        color: #666666;
    }

    #companies-all-locations-Table table tbody tr
    {
        border-bottom: 1px solid white;
    }

        #companies-all-locations-Table table tbody tr.Level1
        {
            background-color: #fecefe;
        }

        #companies-all-locations-Table table tbody tr.Odd-Child
        {
            background-color: white;
        }

        #companies-all-locations-Table table tbody tr.Even-Child
        {
            background-color: #FFEFF9;
        }

tr.highlight-row-reckitt-benckiser
{
    border: 2px solid #9D1D7C !important;
}

td.inactiveParent
{
    padding-left: 7px;
}

th.Company, td.Company, th.Categories, td.Categories, th.Sales, td.Sales, th.Share, td.Share,th.Contribution, td.Contribution
{
    border-right: 1px dotted #9d5c7d;
}

td.Sales, td.Share, td.Growth, td.SharePtsChg
{
    text-align: right;
}
td.Share,td.Growth, td.SharePtsChg,th.Share,th.Growth, th.SharePtsChg {
    width: 10%;
}
td.Sales
{
    width: 18%;
}

#switchNumberFormat
{
    float: right;
    cursor: pointer;
    margin-right: -1.2%;
    font-weight: bold;
    padding-bottom: 10px;
    display: inline-block;
    width: 100px;
    height: 21px;
    font-size: 12px;
    color: #337ab7;
    text-decoration: underline;
}
#NumberFormatswitch
{
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
    display: inline-block;
    font-size: 11px;
    color: #337ab7;
    text-decoration: underline;
}
th.Rank,td.Rank {
    width: 10%;
}
td.Company {
white-space:pre-wrap;
}

td.Company {
    text-align: left;
}
div.placeInsideTable
{
    position: relative;
    top: 14px;
    left: 30%;
    width: 10%;
    height: 20px;
    padding: 0px;
    margin: 0px;
}

    div.placeInsideTable select
    {
        width: 100%;
        height: 20px;
        padding: 0px;
        margin: 0px;
    }

div.company-expand-collapse
{
    width: 100%;
    margin-top: -19px;
    border-top: 2px solid #f78db8;
}

table.cat-all-category-by-loc tr.Level2, table.cat-all-category-by-loc tr.Level3
{
    background-color: #fecefe;
}

#widget-MoleculesExpCollapseTableWidget-view tr.Level2 {
    background-color: #ffeff9;
}

td.hoverable {
    cursor: pointer;
}
div#hoverDiv {
    font-size: 13px;
    max-width: 300px;
}
div#hoverDiv table.latest-data-hover {
    margin-bottom: 0px;
    background-color: white;
}

    div#hoverDiv table.latest-data-hover th {
        padding: 5px;
        text-align: left;
        border-bottom: 1px solid #f78db8;
        font-weight: bold;
    }

    div#hoverDiv table.latest-data-hover td {
        text-align: right;
        padding-right: 2px;
        padding-left: 2px;
    }

        div#hoverDiv table.latest-data-hover td div {
            text-align: right;
        }

        div#hoverDiv table.latest-data-hover td img {
            float: right;
        }

        div#hoverDiv table.latest-data-hover td.col-1 {
            text-align: left;
            padding-left: 2px;
            width: 140px;
            border-right: 1px dotted #bdbdbd;
        }
.ui-helper-hover-hidden {
    display: none !important;
}
img.expandCollapseAll {
    margin: 5px 5px 0 5px;
    float: left;
    width: 13px;
    cursor: pointer;
}
div.expandCollAllText {
    float: left;
}