@model Dashboard.DashboardComponent.Models.FilterItem
<label>@Model.Label</label>
<select class="form-control" id="@Model.ControlId" onchange="RBCommandCenter.filterChange('@Model.Name',this.value)">
</select>