<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <root>
      <!--if no level is selected , then default level is info-->
      
      <!--<level value="DEBUG" />--> 
      <level value="INFO" />
      <!--<level value="WARN" />-->
      <!--<level value="FATAL" />--> 
      <appender-ref ref="RollingFileAppender"/>
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="General\Error[%processid].log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      
      <rollingStyle value="Composite"/>
      <datePattern value="ddMMyyyy"/>
      <maxSizeRollBackups value="100"/>
      <maximumFileSize value="100MB"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="-----------------------------------------------------------------%newline
                           %date [%thread] %-5level %logger [%property{NDC}] – 
                           %newline
                           %message
                           %newline%newline"/>
      </layout>
    </appender>
  </log4net>
</configuration>

