<table style="width: 98%; color: rgb(88, 88, 88);font-size: 12px;margin-bottom: 10px;">
    <tbody>
        <tr>
            <td style="padding: 5px 10px;" colspan="6">VYA - Versus Year Ago
                <br>
            </td>
        </tr>
        <tr>
            <td>
                <img src="@Url.Content("~/Content/Images/red.gif")">
            </td>
            <td>= Value decreased VYA / Negative growth
            </td>
            <td>
                <img src="@Url.Content("~/Content/Images/green.gif")">
            </td>
            <td>= Value increased VYA / Positive growth
            </td>
            <td>
                <img src="@Url.Content("~/Content/Images/yellow.gif")">
            </td>
            <td>= Value is not changed VYA / No growth
            </td>
        </tr>
    </tbody>
</table>
