<div id="welcome-widget" class="welcome-widget-text">
    <div style="width:99%;color: grey"><h4>Welcome to Merck Sereno Sales Performance Dashboard</h4></div>
    <div style="width:99%">The Merck Sereno Sales Performance Dashboard is a single point of access to a wealth of consumer health care information providing you with the right information, at the right time. Use the navigation left and select from right to determine which views will best represent the data you need to support your workflow</div>
</div>