@model Dashboard.DashboardComponent.Models.NavigationItem
<div class="row body-row">
    <div class="col-md-12">
        <div id="snapShotWidget">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-body">
                        <div id="widget-AllRegionCombinationChart-view" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-body">
                        <div id="widget-@Model.Widgets[0].Name-view" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        RbHelper.GetAndSetLatestPeriodType();
    });
</script>
